/*
    Default theme uploaded at /static/dark.css

    Colour scheme:
    * #ffcb6b
    * #b7bdde
    * #575c6e
    * #0f111a
*/

body {
    background-color: #0f111a;
    margin: 40px auto;
    max-width: 800px;
    line-height: 1.6;
    padding: 0 10px;
    color: #575c6e;
}

h1, h2, h3 {
    color: #ffcb6b;
    line-height: 1.2;
}

footer {
    margin-top: 5vh;
}

div.story {
    margin-bottom: 1rem;
    position: relative;
}

div.title a:link {
    color: #b7bdde;
    text-decoration: none;
}

div.title a:visited {
    color: #575c6e;
}

div.title::before {
    content: '—';
    position: absolute;
    color: #575c6e;
    top: -22px;
}

div.links {
    font-size: 14px;
}

div.links a {
    color: #575c6e;
    text-decoration: none;
}

div.links a:hover {
    text-decoration: underline;
}

footer .links a {
    color: #b7bdde;
}
